<div class="row">
    <div class="col-md-3 col-md-offset-3"></div>
      <form class="col-md-5 shadow" novalidate [formGroup]=" registerForm" (ngSubmit)="onRegisterFormSubmit()">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName" formControlName="firstName">
          <label *ngIf=" registerForm.get('firstName').invalid && processValidation" [ngClass]="'error'"> First Name is required. </label>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name </label>
          <input type="text" class="form-control" id="lastName" formControlName="lastName">
          <label *ngIf=" registerForm.get('lastName').invalid && processValidation" [ngClass]="'error'">Last Name is required.</label>
        </div>
        <div class="form-group">
          <label for="email">Email </label>
          <input type="text" class="form-control" id="email" formControlName="email">
          <label *ngIf=" registerForm.get('email').invalid && processValidation" [ngClass]="'error'">Email is required.</label>
        </div>
        <div class="form-group">
          <label for="password">Password </label>
          <input type="text" class="form-control" id="password" formControlName="password">
          <label *ngIf=" registerForm.get('password').invalid && processValidation" [ngClass]="'error'">Password is required.</label>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password </label>
          <input type="text" class="form-control" id="confirmPassword" formControlName="confirmPassword">
          <label *ngIf="registerForm.get('confirmPassword') && registerForm.get('confirmPassword').invalid && processValidation" [ngClass]="'error'">Confirm Password is required.</label>
        </div>
        <div class="form-group">
          <label for="dobAsString">DOB </label>
          <input type="text" class="form-control" id="dobAsString" formControlName="dobAsString">
          <!-- <label *ngIf=" registerForm.get('dobAsString').invalid && processValidation" [ngClass]="'error'">Last Name is required.</label> -->
        </div>
        <div class="form-group">
          <label for="department">Department </label>
          <!-- <input type="text" class="form-control" id="department" formControlName="department"> -->
          <select name="department" id="department" formControlName="department">
            <option value=""> Please Select </option>
            <option *ngFor="let dept of depts" [ngValue]="dept.id"> {{ dept.name }} </option>
          </select>
          <label *ngIf="registerForm.get('department') && registerForm.get('department').invalid && processValidation" [ngClass]="'error'">Please select department</label>
        </div>
        <div class="form-group">
          <button class="btn btn-success">Register</button>  
          <button class="btn btn-primary" (click)="onReset()">Reset</button>
          <a routerLink = "/login" style="color: #007bff;">Login </a>
        </div>
      </form>
  </div>

  <modal #deleteUserModal id="deleteUser"
    [showModal]="isModalOpen"
    [title]="'Success Title'"
    
  >
  <div class="popup-content">
   <p>{{msg}}</p>
  </div>
  <div class="popup-footer">
   <button type="button" class="btn btn-primary" aria-label="Close" 
   (click)="hide()">OK</button>
  </div>
  <!-- (click)="deleteSelectedUser(deleteUserModal)" -->
</modal>