  <!--The content below is only a placeholder and can be replaced.-->
  <div style="text-align:center">
    <h1>
      <!-- Welcome to {{title}}! -->
    </h1>
  </div>

  <!-- <p app-highlight (click) = "clickEvent()">This is default</p> -->
  <!-- <p appHighlight passDefaultFontSizeToDirective="30px" passDefaultColorToDirective = "red">We can pass value to directive</p> -->
  <!-- <div *appIfDirective = true >
      <b>Hello world</b>
  </div>
  <app-ngfor></app-ngfor>
  <app-cp-msg></app-cp-msg> -->

  <!-- <app-cp1></app-cp1> -->
  <!-- <app-cp2></app-cp2> -->
  <!-- <example-app></example-app> -->
  <!-- <app-view-children></app-view-children> -->
  <!-- <app-parent></app-parent> -->

  <!-- <app-team-management></app-team-management> -->
  <!-- Error
    <app-simple-changes></app-simple-changes> 
  -->
  <!-- <app-mypost-banner></app-mypost-banner> -->

  <!-- <app-user></app-user> -->

  <!-- <app-article></app-article> -->
  <!-- <app-syntax></app-syntax> -->
  <!-- <app-attribute></app-attribute>  -->
  
  <!-- <nav [ngClass] = "'menu'">
    <a routerLink="/home" routerLinkActive="active-link">Home</a> | 
    <a routerLink="/add-book" routerLinkActive="active-link">Add Book</a> | 
    <a routerLink="/manage-book" routerLinkActive="active-link">Manage Book</a>
  </nav>  
  <div>	
    <router-outlet></router-outlet>	
  </div>  -->
  <!-- <app-sample></app-sample> -->
  <!-- <app-register></app-register> -->
  
  
<div class="">
  <div >
    <app-navbar></app-navbar>
  </div>
  <router-outlet></router-outlet>
</div>

  <!-- <app-login></app-login> -->

  


